*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fondo{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url('https://images7.alphacoders.com/420/420045.jpg');
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position:relative;
}
.nav-bar{
    display: flex;
    padding: 40px 100px;
    height: 40px;
}

.nav-logo h1{
    font-size: 40px;
    color: yellow;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}



.nav-links{
    flex: 1;

}

.nav-links ul{
    margin-left: 50px;
    display: inline;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 60px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.nav-links ul  a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}


.nav-links ul li::after{

    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: .4s;
}


.banner-titulo{
    margin: 80px 130px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}





.nav-links ul li:hover::after{
width: 100%;
}


.btn{
    padding: 10px 20px;
    border: 0;
    font-weight: bold;
    background: rgba(255, 251, 0, 0.856);
    cursor: pointer;
    font-size: 17px;
    color: black;
    border-radius: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.btn:hover{
    background: rgb(194, 194, 2);

}


.nav-links .btn{
    float: right;
}

.banner-titulo{
    margin: 170px 100px;
    color: #fff;

}

.banner-titulo h1{
    font-size: 60px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


.barra-vertical{
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    position: absolute;
    width: 90px;
}

.icono-buscar{
    height: 60%;
    width: 80px;
}



.icono-buscar .fa{
    margin: 45px 23px;
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}


.redes-sociales{
    height: 35%;
    width: 80px;
    background: rgb(255, 217, 0);
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}


.redes-sociales hr{

    border-color: #000;
    padding-top: 1px;
    border: solid;
}


.redes-sociales .fab{
    margin: 15px 23px;
    display: block;
    padding:8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
